# Rush files
common/
common/changes/
common/scripts/
common/config/
CHANGELOG.*

# Package manager files
pnpm-lock.yaml
yarn.lock
package-lock.json
shrinkwrap.json

# Build outputs
dist
lib
workbench/example-app/build

# Prettier reformats code blocks inside Markdown, which affects rendered output
*.md